nifi/registry/flow_storage/2c620ed0-bf88-4996-983d-3f4245e7bf32/2bbffaec-d15e-473d-87cc-f4a97feb8041/2/2.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffd6307-019c-1000-12b7-187244c2e931",
            "instanceIdentifier" : "95254748-53e9-3b36-2888-cf1524d71160",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "3ffd630b-019c-1000-d32b-0f98b6ceca67",
          "instanceIdentifier" : "44bb5a7c-3f9a-3f9b-eaac-51d58450c319",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffd6308-019c-1000-dfd3-8d7c4402b11a",
            "instanceIdentifier" : "d3e31312-b487-3475-0d3a-43015c93cb26",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 3
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffd7c4a-019c-1000-be22-b26002ca78ce",
            "instanceIdentifier" : "2a853266-2156-3262-90e5-d47cfd3c2674",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "3ffd7c4c-019c-1000-ad1a-2d9f6af7bdd9",
          "instanceIdentifier" : "937eedb1-4709-37b2-0f64-398a9134b700",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffd7c49-019c-1000-d3a0-d5a392172f0a",
            "instanceIdentifier" : "6649a7bf-40ce-304f-2433-0e67e44e0d2c",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 3
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "7572925f-fd7b-3b4b-82e4-4ce3a40f8539",
            "instanceIdentifier" : "3ffc4070-019c-1000-48a3-d400aa5095a5",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "46bce8e8-9d53-350b-8de9-c706470ff44c",
          "instanceIdentifier" : "3ffc5895-019c-1000-5598-f536b82bcbd7",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "289fc48b-dd0d-3afd-a0a6-0ca6f67be53c",
            "instanceIdentifier" : "3ff5da26-019c-1000-f700-7c3a262e57ed",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 10
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffa4e23-019c-1000-5634-1fd32506328a",
            "instanceIdentifier" : "41ddf509-bf51-3f23-eda6-0a6c0470ad90",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "d0dcd2e4-6f55-39a6-8bfb-6ddaf32f43fa",
          "instanceIdentifier" : "3ffaffac-019c-1000-844e-c4566ee0e108",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "liquidations" ],
          "source" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "662e496f-88bf-3a55-806c-93156e9b7c59",
            "instanceIdentifier" : "3ff84cf1-019c-1000-05f5-4d42952b7094",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 7
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffd6308-019c-1000-dfd3-8d7c4402b11a",
            "instanceIdentifier" : "d3e31312-b487-3475-0d3a-43015c93cb26",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "53ed4f67-2d8a-33f4-8b12-4d67e52d084f",
          "instanceIdentifier" : "3ffdce98-019c-1000-c79c-860d448aabc5",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffa4e23-019c-1000-5634-1fd32506328a",
            "instanceIdentifier" : "41ddf509-bf51-3f23-eda6-0a6c0470ad90",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 13
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "289fc48b-dd0d-3afd-a0a6-0ca6f67be53c",
            "instanceIdentifier" : "3ff5da26-019c-1000-f700-7c3a262e57ed",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "5245dd3a-2a10-3720-9f20-82b67b7f8ac0",
          "instanceIdentifier" : "3ff5fcb1-019c-1000-f823-df516074cebf",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "4ce8240e-f2a0-376a-99ff-b61363da3c80",
            "instanceIdentifier" : "3ff56a41-019c-1000-3ab7-c6491c288a69",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 3
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffd7c48-019c-1000-dc21-5726fb11a321",
            "instanceIdentifier" : "ab558c94-f0e0-3f08-2a9b-1ea6b51b5857",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "3ffd7c4d-019c-1000-19a4-a18052ff4686",
          "instanceIdentifier" : "fb04dae4-38fd-34d9-a29d-f03fc2ef3930",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffd7c4a-019c-1000-be22-b26002ca78ce",
            "instanceIdentifier" : "2a853266-2156-3262-90e5-d47cfd3c2674",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 10
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "4ce8240e-f2a0-376a-99ff-b61363da3c80",
            "instanceIdentifier" : "3ff56a41-019c-1000-3ab7-c6491c288a69",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "19bc3b4e-c32c-329a-bb54-91362aa70021",
          "instanceIdentifier" : "3ffb5bd5-019c-1000-687f-714e0e4b70fd",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffa6eea-019c-1000-cb3b-5caae83dae91",
            "instanceIdentifier" : "95334a04-8d6b-3e94-7fb4-500660b337f4",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 9
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffa6eea-019c-1000-cb3b-5caae83dae91",
            "instanceIdentifier" : "95334a04-8d6b-3e94-7fb4-500660b337f4",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "cea83382-f570-3adc-895d-e6f5d673a693",
          "instanceIdentifier" : "3ffae511-019c-1000-f8e3-1561ac1de026",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "open_interests" ],
          "source" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "662e496f-88bf-3a55-806c-93156e9b7c59",
            "instanceIdentifier" : "3ff84cf1-019c-1000-05f5-4d42952b7094",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 6
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "5d4ee76d-60e9-34ea-b086-02c54d456506",
            "instanceIdentifier" : "3ff7d5db-019c-1000-e2e7-3385bf670df6",
            "name" : "DuplicateFlowFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "1aee3864-6c02-3ed1-8ef3-b436a0552c26",
          "instanceIdentifier" : "3ff7edd5-019c-1000-a620-30275cd2d6e4",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "f66f2327-8374-3345-ac56-a075b91239a3",
            "instanceIdentifier" : "3f029df3-019c-1000-0d84-9e206a9d70d7",
            "name" : "derivatives_symbols",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 4
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffd7c4b-019c-1000-fb16-8def64697bd9",
            "instanceIdentifier" : "7ee0eb34-d0dc-305e-d2ee-d2f3c0ec1f82",
            "name" : "PutDatabaseRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "3ffd7c4e-019c-1000-e62d-868e050fd4fa",
          "instanceIdentifier" : "2b4b0b34-c364-37f0-4140-134a0bb01fcb",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffd7c48-019c-1000-dc21-5726fb11a321",
            "instanceIdentifier" : "ab558c94-f0e0-3f08-2a9b-1ea6b51b5857",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 11
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "662e496f-88bf-3a55-806c-93156e9b7c59",
            "instanceIdentifier" : "3ff84cf1-019c-1000-05f5-4d42952b7094",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "be596f50-c3f5-3800-8dab-7397d616f0d3",
          "instanceIdentifier" : "3ff8655e-019c-1000-86ed-93f377fec90a",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "5d4ee76d-60e9-34ea-b086-02c54d456506",
            "instanceIdentifier" : "3ff7d5db-019c-1000-e2e7-3385bf670df6",
            "name" : "DuplicateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 5
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "a523c6ab-67e0-3e4a-b43e-c06e1e8de231",
            "instanceIdentifier" : "3ffa274b-019c-1000-76fd-82c593f89735",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "08874f10-9dd3-300c-80cb-050de3ac497f",
          "instanceIdentifier" : "3ffb23f7-019c-1000-3962-7bb335a3f877",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "funding_rates" ],
          "source" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "662e496f-88bf-3a55-806c-93156e9b7c59",
            "instanceIdentifier" : "3ff84cf1-019c-1000-05f5-4d42952b7094",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 8
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "69a1c04b-5151-31bf-afc1-0890dbf24629",
            "instanceIdentifier" : "3ffca0e4-019c-1000-b454-58055bbddd7f",
            "name" : "PutDatabaseRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "b753f045-ef06-32d4-b483-a562af85e7b0",
          "instanceIdentifier" : "3ffcc7ee-019c-1000-3573-b08a83233dd1",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "7572925f-fd7b-3b4b-82e4-4ce3a40f8539",
            "instanceIdentifier" : "3ffc4070-019c-1000-48a3-d400aa5095a5",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 11
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffd6309-019c-1000-cc32-e811fbf99552",
            "instanceIdentifier" : "d139cc2a-3c93-3f5e-77ab-a3d7cd0d6a58",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "3ffd630a-019c-1000-81a4-5992ad95e4c5",
          "instanceIdentifier" : "774eb4d9-9e46-312a-4819-3c46d2eb0a9f",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffd6307-019c-1000-12b7-187244c2e931",
            "instanceIdentifier" : "95254748-53e9-3b36-2888-cf1524d71160",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 10
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffd6306-019c-1000-d9cf-52666b38d316",
            "instanceIdentifier" : "768fd7a6-fe68-3e12-fd0e-ddc91a9ac261",
            "name" : "PutDatabaseRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "3ffd630c-019c-1000-f324-985cf18da824",
          "instanceIdentifier" : "ef419032-754a-3b56-24e9-f78774b501a5",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffd6309-019c-1000-cc32-e811fbf99552",
            "instanceIdentifier" : "d139cc2a-3c93-3f5e-77ab-a3d7cd0d6a58",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 11
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "3ffd7c49-019c-1000-d3a0-d5a392172f0a",
            "instanceIdentifier" : "6649a7bf-40ce-304f-2433-0e67e44e0d2c",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "555047a3-e86b-394c-b6ae-ee531d07dca1",
          "instanceIdentifier" : "3ffdab2c-019c-1000-9da7-075ed9642ffe",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "c21aeffe-aa36-3476-976a-7ad2be442596",
            "id" : "a523c6ab-67e0-3e4a-b43e-c06e1e8de231",
            "instanceIdentifier" : "3ffa274b-019c-1000-76fd-82c593f89735",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 12
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "f66f2327-8374-3345-ac56-a075b91239a3",
          "instanceIdentifier" : "3f029df3-019c-1000-0d84-9e206a9d70d7",
          "name" : "derivatives_symbols",
          "portFunction" : "STANDARD",
          "position" : {
            "x" : -352.0,
            "y" : -160.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "instanceIdentifier" : "3f026e71-019c-1000-c6b9-3508345b50b2",
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "Derivatives_data_flow",
        "outputPorts" : [ ],
        "position" : {
          "x" : -176.0,
          "y" : -576.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "3ffd7c48-019c-1000-dc21-5726fb11a321",
          "instanceIdentifier" : "ab558c94-f0e0-3f08-2a9b-1ea6b51b5857",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3376.0,
            "y" : -416.0
          },
          "properties" : {
            "Replacement Value Strategy" : "literal-value"
          },
          "propertyDescriptors" : {
            "Record Writer" : {
              "displayName" : "Record Writer",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Record Reader" : {
              "displayName" : "Record Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Reader",
              "sensitive" : false
            },
            "Replacement Value Strategy" : {
              "displayName" : "Replacement Value Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Replacement Value Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "3ffa4e23-019c-1000-5634-1fd32506328a",
          "instanceIdentifier" : "41ddf509-bf51-3f23-eda6-0a6c0470ad90",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1448.0,
            "y" : -184.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "Cache Value Lookup Cache Size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "Cache Value Lookup Cache Size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Cache Value Lookup Cache Size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "3ffd6309-019c-1000-cc32-e811fbf99552",
          "instanceIdentifier" : "d139cc2a-3c93-3f5e-77ab-a3d7cd0d6a58",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3376.0,
            "y" : -184.0
          },
          "properties" : {
            "Replacement Value Strategy" : "literal-value"
          },
          "propertyDescriptors" : {
            "Record Writer" : {
              "displayName" : "Record Writer",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Record Reader" : {
              "displayName" : "Record Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Reader",
              "sensitive" : false
            },
            "Replacement Value Strategy" : {
              "displayName" : "Replacement Value Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Replacement Value Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "3ffa6eea-019c-1000-cb3b-5caae83dae91",
          "instanceIdentifier" : "95334a04-8d6b-3e94-7fb4-500660b337f4",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1376.0,
            "y" : 56.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "Cache Value Lookup Cache Size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "Cache Value Lookup Cache Size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Cache Value Lookup Cache Size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "3ffd7c4b-019c-1000-fb16-8def64697bd9",
          "instanceIdentifier" : "7ee0eb34-d0dc-305e-d2ee-d2f3c0ec1f82",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutDatabaseRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 4008.0,
            "y" : -416.0
          },
          "properties" : {
            "Quote Column Identifiers" : "false",
            "Max Wait Time" : "0 seconds",
            "Quote Table Identifiers" : "false",
            "Database Session AutoCommit" : "false",
            "Unmatched Field Behavior" : "Ignore Unmatched Fields",
            "Allow Multiple SQL Statements" : "false",
            "Rollback On Failure" : "false",
            "Column Name Translation Strategy" : "REMOVE_UNDERSCORE",
            "Binary String Format" : "UTF-8",
            "Unmatched Column Behavior" : "Fail on Unmatched Columns",
            "Database Type" : "Generic",
            "Translate Field Names" : "true",
            "Table Schema Cache Size" : "100",
            "Maximum Batch Size" : "1000"
          },
          "propertyDescriptors" : {
            "Table Name" : {
              "displayName" : "Table Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "Quote Column Identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Quote Column Identifiers",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "Delete Keys" : {
              "displayName" : "Delete Keys",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Keys",
              "sensitive" : false
            },
            "Record Reader" : {
              "displayName" : "Record Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Reader",
              "sensitive" : false
            },
            "Quote Table Identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Quote Table Identifiers",
              "sensitive" : false
            },
            "Schema Name" : {
              "displayName" : "Schema Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Schema Name",
              "sensitive" : false
            },
            "Database Session AutoCommit" : {
              "displayName" : "Database Session AutoCommit",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database Session AutoCommit",
              "sensitive" : false
            },
            "Unmatched Field Behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Unmatched Field Behavior",
              "sensitive" : false
            },
            "Database Name" : {
              "displayName" : "Database Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database Name",
              "sensitive" : false
            },
            "Allow Multiple SQL Statements" : {
              "displayName" : "Allow Multiple SQL Statements",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Allow Multiple SQL Statements",
              "sensitive" : false
            },
            "Rollback On Failure" : {
              "displayName" : "Rollback On Failure",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Rollback On Failure",
              "sensitive" : false
            },
            "Update Keys" : {
              "displayName" : "Update Keys",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Update Keys",
              "sensitive" : false
            },
            "Field Containing SQL" : {
              "displayName" : "Field Containing SQL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Field Containing SQL",
              "sensitive" : false
            },
            "Database Dialect Service" : {
              "displayName" : "Database Dialect Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Database Dialect Service",
              "sensitive" : false
            },
            "Data Record Path" : {
              "displayName" : "Data Record Path",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Data Record Path",
              "sensitive" : false
            },
            "Statement Type Record Path" : {
              "displayName" : "Statement Type Record Path",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Statement Type Record Path",
              "sensitive" : false
            },
            "Column Name Translation Pattern" : {
              "displayName" : "Column Name Translation Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Column Name Translation Pattern",
              "sensitive" : false
            },
            "Column Name Translation Strategy" : {
              "displayName" : "Column Name Translation Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Column Name Translation Strategy",
              "sensitive" : false
            },
            "Binary String Format" : {
              "displayName" : "Binary String Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Binary String Format",
              "sensitive" : false
            },
            "Unmatched Column Behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Unmatched Column Behavior",
              "sensitive" : false
            },
            "Database Type" : {
              "displayName" : "Database Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database Type",
              "sensitive" : false
            },
            "Translate Field Names" : {
              "displayName" : "Translate Field Names",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Translate Field Names",
              "sensitive" : false
            },
            "Statement Type" : {
              "displayName" : "Statement Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Statement Type",
              "sensitive" : false
            },
            "Table Schema Cache Size" : {
              "displayName" : "Table Schema Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Table Schema Cache Size",
              "sensitive" : false
            },
            "Maximum Batch Size" : {
              "displayName" : "Maximum Batch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum Batch Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "4ce8240e-f2a0-376a-99ff-b61363da3c80",
          "instanceIdentifier" : "3ff56a41-019c-1000-3ab7-c6491c288a69",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2040.0,
            "y" : 64.0
          },
          "properties" : {
            "Request Content-Encoding" : "DISABLED",
            "Request Multipart Form-Data Filename Enabled" : "true",
            "Request Chunked Transfer-Encoding Enabled" : "false",
            "HTTP/2 Disabled" : "False",
            "Connection Timeout" : "5 secs",
            "Response Cookie Strategy" : "DISABLED",
            "Socket Read Timeout" : "15 secs",
            "Socket Idle Connections" : "5",
            "Request Body Enabled" : "true",
            "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
            "Socket Idle Timeout" : "5 mins",
            "Response Redirects Enabled" : "True",
            "Socket Write Timeout" : "15 secs",
            "Response FlowFile Naming Strategy" : "RANDOM",
            "Response Cache Enabled" : "false",
            "Request Date Header Enabled" : "True",
            "Request Failure Penalization Enabled" : "false",
            "Response Body Attribute Size" : "256",
            "Response Generation Required" : "false",
            "Response Header Request Attributes Enabled" : "false",
            "HTTP Method" : "GET",
            "Request Content-Type" : "${mime.type}",
            "Request Digest Authentication Enabled" : "false",
            "Response Cache Size" : "10MB",
            "Response Body Ignored" : "false"
          },
          "propertyDescriptors" : {
            "Request Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Encoding",
              "sensitive" : false
            },
            "Request Multipart Form-Data Filename Enabled" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Filename Enabled",
              "sensitive" : false
            },
            "Request Chunked Transfer-Encoding Enabled" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Chunked Transfer-Encoding Enabled",
              "sensitive" : false
            },
            "Response Header Request Attributes Prefix" : {
              "displayName" : "Response Header Request Attributes Prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Prefix",
              "sensitive" : false
            },
            "Proxy Configuration Service" : {
              "displayName" : "Proxy Configuration Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Proxy Configuration Service",
              "sensitive" : false
            },
            "HTTP/2 Disabled" : {
              "displayName" : "HTTP/2 Disabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP/2 Disabled",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "Response Cookie Strategy" : {
              "displayName" : "Response Cookie Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cookie Strategy",
              "sensitive" : false
            },
            "Request Password" : {
              "displayName" : "Request Password",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Password",
              "sensitive" : true
            },
            "Socket Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Read Timeout",
              "sensitive" : false
            },
            "Socket Idle Connections" : {
              "displayName" : "Socket Idle Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Connections",
              "sensitive" : false
            },
            "Request Body Enabled" : {
              "displayName" : "Request Body Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Body Enabled",
              "sensitive" : false
            },
            "OAuth2 Access Token Refresh Strategy" : {
              "displayName" : "OAuth2 Access Token Refresh Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "OAuth2 Access Token Refresh Strategy",
              "sensitive" : false
            },
            "HTTP URL" : {
              "displayName" : "HTTP URL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP URL",
              "sensitive" : false
            },
            "Request OAuth2 Access Token Provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Request OAuth2 Access Token Provider",
              "sensitive" : false
            },
            "Socket Idle Timeout" : {
              "displayName" : "Socket Idle Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Timeout",
              "sensitive" : false
            },
            "Response Redirects Enabled" : {
              "displayName" : "Response Redirects Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Redirects Enabled",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Request Header Attributes Pattern" : {
              "displayName" : "Request Header Attributes Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Header Attributes Pattern",
              "sensitive" : false
            },
            "Response FlowFile Naming Strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response FlowFile Naming Strategy",
              "sensitive" : false
            },
            "Response Cache Enabled" : {
              "displayName" : "Response Cache Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Enabled",
              "sensitive" : false
            },
            "Request Date Header Enabled" : {
              "displayName" : "Request Date Header Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Date Header Enabled",
              "sensitive" : false
            },
            "Request Failure Penalization Enabled" : {
              "displayName" : "Request Failure Penalization Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Failure Penalization Enabled",
              "sensitive" : false
            },
            "Response Body Attribute Size" : {
              "displayName" : "Response Body Attribute Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Response Generation Required" : {
              "displayName" : "Response Generation Required",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Generation Required",
              "sensitive" : false
            },
            "Request User-Agent" : {
              "displayName" : "Request User-Agent",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request User-Agent",
              "sensitive" : false
            },
            "Response Header Request Attributes Enabled" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Enabled",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Request Username" : {
              "displayName" : "Request Username",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Username",
              "sensitive" : false
            },
            "Request Content-Type" : {
              "displayName" : "Request Content-Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Type",
              "sensitive" : false
            },
            "Response Body Attribute Name" : {
              "displayName" : "Response Body Attribute Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Name",
              "sensitive" : false
            },
            "Request Digest Authentication Enabled" : {
              "displayName" : "Request Digest Authentication Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Digest Authentication Enabled",
              "sensitive" : false
            },
            "Request Multipart Form-Data Name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Name",
              "sensitive" : false
            },
            "Response Cache Size" : {
              "displayName" : "Response Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Size",
              "sensitive" : false
            },
            "Response Body Ignored" : {
              "displayName" : "Response Body Ignored",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Ignored",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "a523c6ab-67e0-3e4a-b43e-c06e1e8de231",
          "instanceIdentifier" : "3ffa274b-019c-1000-76fd-82c593f89735",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1376.0,
            "y" : -408.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "Cache Value Lookup Cache Size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "Cache Value Lookup Cache Size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Cache Value Lookup Cache Size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "5d4ee76d-60e9-34ea-b086-02c54d456506",
          "instanceIdentifier" : "3ff7d5db-019c-1000-e2e7-3385bf670df6",
          "maxBackoffPeriod" : "10 mins",
          "name" : "DuplicateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 216.0,
            "y" : -192.0
          },
          "properties" : {
            "Number of Copies" : "2"
          },
          "propertyDescriptors" : {
            "Number of Copies" : {
              "displayName" : "Number of Copies",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Number of Copies",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.DuplicateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "3ffd6306-019c-1000-d9cf-52666b38d316",
          "instanceIdentifier" : "768fd7a6-fe68-3e12-fd0e-ddc91a9ac261",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutDatabaseRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 4000.0,
            "y" : -176.0
          },
          "properties" : {
            "Quote Column Identifiers" : "false",
            "Max Wait Time" : "0 seconds",
            "Quote Table Identifiers" : "false",
            "Database Session AutoCommit" : "false",
            "Unmatched Field Behavior" : "Ignore Unmatched Fields",
            "Allow Multiple SQL Statements" : "false",
            "Rollback On Failure" : "false",
            "Column Name Translation Strategy" : "REMOVE_UNDERSCORE",
            "Binary String Format" : "UTF-8",
            "Unmatched Column Behavior" : "Fail on Unmatched Columns",
            "Database Type" : "Generic",
            "Translate Field Names" : "true",
            "Table Schema Cache Size" : "100",
            "Maximum Batch Size" : "1000"
          },
          "propertyDescriptors" : {
            "Table Name" : {
              "displayName" : "Table Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "Quote Column Identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Quote Column Identifiers",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "Delete Keys" : {
              "displayName" : "Delete Keys",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Keys",
              "sensitive" : false
            },
            "Record Reader" : {
              "displayName" : "Record Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Reader",
              "sensitive" : false
            },
            "Quote Table Identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Quote Table Identifiers",
              "sensitive" : false
            },
            "Schema Name" : {
              "displayName" : "Schema Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Schema Name",
              "sensitive" : false
            },
            "Database Session AutoCommit" : {
              "displayName" : "Database Session AutoCommit",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database Session AutoCommit",
              "sensitive" : false
            },
            "Unmatched Field Behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Unmatched Field Behavior",
              "sensitive" : false
            },
            "Database Name" : {
              "displayName" : "Database Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database Name",
              "sensitive" : false
            },
            "Allow Multiple SQL Statements" : {
              "displayName" : "Allow Multiple SQL Statements",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Allow Multiple SQL Statements",
              "sensitive" : false
            },
            "Rollback On Failure" : {
              "displayName" : "Rollback On Failure",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Rollback On Failure",
              "sensitive" : false
            },
            "Update Keys" : {
              "displayName" : "Update Keys",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Update Keys",
              "sensitive" : false
            },
            "Field Containing SQL" : {
              "displayName" : "Field Containing SQL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Field Containing SQL",
              "sensitive" : false
            },
            "Database Dialect Service" : {
              "displayName" : "Database Dialect Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Database Dialect Service",
              "sensitive" : false
            },
            "Data Record Path" : {
              "displayName" : "Data Record Path",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Data Record Path",
              "sensitive" : false
            },
            "Statement Type Record Path" : {
              "displayName" : "Statement Type Record Path",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Statement Type Record Path",
              "sensitive" : false
            },
            "Column Name Translation Pattern" : {
              "displayName" : "Column Name Translation Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Column Name Translation Pattern",
              "sensitive" : false
            },
            "Column Name Translation Strategy" : {
              "displayName" : "Column Name Translation Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Column Name Translation Strategy",
              "sensitive" : false
            },
            "Binary String Format" : {
              "displayName" : "Binary String Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Binary String Format",
              "sensitive" : false
            },
            "Unmatched Column Behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Unmatched Column Behavior",
              "sensitive" : false
            },
            "Database Type" : {
              "displayName" : "Database Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database Type",
              "sensitive" : false
            },
            "Translate Field Names" : {
              "displayName" : "Translate Field Names",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Translate Field Names",
              "sensitive" : false
            },
            "Statement Type" : {
              "displayName" : "Statement Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Statement Type",
              "sensitive" : false
            },
            "Table Schema Cache Size" : {
              "displayName" : "Table Schema Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Table Schema Cache Size",
              "sensitive" : false
            },
            "Maximum Batch Size" : {
              "displayName" : "Maximum Batch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum Batch Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jolt-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "3ffd7c4a-019c-1000-be22-b26002ca78ce",
          "instanceIdentifier" : "2a853266-2156-3262-90e5-d47cfd3c2674",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2744.0,
            "y" : -408.0
          },
          "properties" : {
            "JSON Source" : "FLOW_FILE",
            "Jolt Transform" : "jolt-transform-chain",
            "Max String Length" : "20 MB",
            "Transform Cache Size" : "1",
            "Pretty Print" : "false"
          },
          "propertyDescriptors" : {
            "JSON Source" : {
              "displayName" : "JSON Source",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "JSON Source",
              "sensitive" : false
            },
            "Jolt Transform" : {
              "displayName" : "Jolt Transform",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Jolt Transform",
              "sensitive" : false
            },
            "JSON Source Attribute" : {
              "displayName" : "JSON Source Attribute",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "JSON Source Attribute",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            },
            "Custom Transformation Class Name" : {
              "displayName" : "Custom Transformation Class Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Custom Transformation Class Name",
              "sensitive" : false
            },
            "Custom Module Directory" : {
              "displayName" : "Custom Module Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Custom Module Directory",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "Pretty Print" : {
              "displayName" : "Pretty Print",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Pretty Print",
              "sensitive" : false
            },
            "Jolt Specification" : {
              "displayName" : "Jolt Specification",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Jolt Specification",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE", "TEXT" ]
              },
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "69a1c04b-5151-31bf-afc1-0890dbf24629",
          "instanceIdentifier" : "3ffca0e4-019c-1000-b454-58055bbddd7f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutDatabaseRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3984.0,
            "y" : 64.0
          },
          "properties" : {
            "Quote Column Identifiers" : "false",
            "Max Wait Time" : "0 seconds",
            "Quote Table Identifiers" : "false",
            "Database Session AutoCommit" : "false",
            "Unmatched Field Behavior" : "Ignore Unmatched Fields",
            "Allow Multiple SQL Statements" : "false",
            "Rollback On Failure" : "false",
            "Column Name Translation Strategy" : "REMOVE_UNDERSCORE",
            "Binary String Format" : "UTF-8",
            "Unmatched Column Behavior" : "Fail on Unmatched Columns",
            "Database Type" : "Generic",
            "Translate Field Names" : "true",
            "Table Schema Cache Size" : "100",
            "Maximum Batch Size" : "1000"
          },
          "propertyDescriptors" : {
            "Table Name" : {
              "displayName" : "Table Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "Quote Column Identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Quote Column Identifiers",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "Delete Keys" : {
              "displayName" : "Delete Keys",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Delete Keys",
              "sensitive" : false
            },
            "Record Reader" : {
              "displayName" : "Record Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Reader",
              "sensitive" : false
            },
            "Quote Table Identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Quote Table Identifiers",
              "sensitive" : false
            },
            "Schema Name" : {
              "displayName" : "Schema Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Schema Name",
              "sensitive" : false
            },
            "Database Session AutoCommit" : {
              "displayName" : "Database Session AutoCommit",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database Session AutoCommit",
              "sensitive" : false
            },
            "Unmatched Field Behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Unmatched Field Behavior",
              "sensitive" : false
            },
            "Database Name" : {
              "displayName" : "Database Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database Name",
              "sensitive" : false
            },
            "Allow Multiple SQL Statements" : {
              "displayName" : "Allow Multiple SQL Statements",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Allow Multiple SQL Statements",
              "sensitive" : false
            },
            "Rollback On Failure" : {
              "displayName" : "Rollback On Failure",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Rollback On Failure",
              "sensitive" : false
            },
            "Update Keys" : {
              "displayName" : "Update Keys",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Update Keys",
              "sensitive" : false
            },
            "Field Containing SQL" : {
              "displayName" : "Field Containing SQL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Field Containing SQL",
              "sensitive" : false
            },
            "Database Dialect Service" : {
              "displayName" : "Database Dialect Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Database Dialect Service",
              "sensitive" : false
            },
            "Data Record Path" : {
              "displayName" : "Data Record Path",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Data Record Path",
              "sensitive" : false
            },
            "Statement Type Record Path" : {
              "displayName" : "Statement Type Record Path",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Statement Type Record Path",
              "sensitive" : false
            },
            "Column Name Translation Pattern" : {
              "displayName" : "Column Name Translation Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Column Name Translation Pattern",
              "sensitive" : false
            },
            "Column Name Translation Strategy" : {
              "displayName" : "Column Name Translation Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Column Name Translation Strategy",
              "sensitive" : false
            },
            "Binary String Format" : {
              "displayName" : "Binary String Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Binary String Format",
              "sensitive" : false
            },
            "Unmatched Column Behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Unmatched Column Behavior",
              "sensitive" : false
            },
            "Database Type" : {
              "displayName" : "Database Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Database Type",
              "sensitive" : false
            },
            "Translate Field Names" : {
              "displayName" : "Translate Field Names",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Translate Field Names",
              "sensitive" : false
            },
            "Statement Type" : {
              "displayName" : "Statement Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Statement Type",
              "sensitive" : false
            },
            "Table Schema Cache Size" : {
              "displayName" : "Table Schema Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Table Schema Cache Size",
              "sensitive" : false
            },
            "Maximum Batch Size" : {
              "displayName" : "Maximum Batch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum Batch Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "3ffd7c49-019c-1000-d3a0-d5a392172f0a",
          "instanceIdentifier" : "6649a7bf-40ce-304f-2433-0e67e44e0d2c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2064.0,
            "y" : -416.0
          },
          "properties" : {
            "Request Content-Encoding" : "DISABLED",
            "Request Multipart Form-Data Filename Enabled" : "true",
            "Request Chunked Transfer-Encoding Enabled" : "false",
            "HTTP/2 Disabled" : "False",
            "Connection Timeout" : "5 secs",
            "Response Cookie Strategy" : "DISABLED",
            "Socket Read Timeout" : "15 secs",
            "Socket Idle Connections" : "5",
            "Request Body Enabled" : "true",
            "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
            "Socket Idle Timeout" : "5 mins",
            "Response Redirects Enabled" : "True",
            "Socket Write Timeout" : "15 secs",
            "Response FlowFile Naming Strategy" : "RANDOM",
            "Response Cache Enabled" : "false",
            "Request Date Header Enabled" : "True",
            "Request Failure Penalization Enabled" : "false",
            "Response Body Attribute Size" : "256",
            "Response Generation Required" : "false",
            "Response Header Request Attributes Enabled" : "false",
            "HTTP Method" : "GET",
            "Request Content-Type" : "${mime.type}",
            "Request Digest Authentication Enabled" : "false",
            "Response Cache Size" : "10MB",
            "Response Body Ignored" : "false"
          },
          "propertyDescriptors" : {
            "Request Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Encoding",
              "sensitive" : false
            },
            "Request Multipart Form-Data Filename Enabled" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Filename Enabled",
              "sensitive" : false
            },
            "Request Chunked Transfer-Encoding Enabled" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Chunked Transfer-Encoding Enabled",
              "sensitive" : false
            },
            "Response Header Request Attributes Prefix" : {
              "displayName" : "Response Header Request Attributes Prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Prefix",
              "sensitive" : false
            },
            "Proxy Configuration Service" : {
              "displayName" : "Proxy Configuration Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Proxy Configuration Service",
              "sensitive" : false
            },
            "HTTP/2 Disabled" : {
              "displayName" : "HTTP/2 Disabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP/2 Disabled",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "Response Cookie Strategy" : {
              "displayName" : "Response Cookie Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cookie Strategy",
              "sensitive" : false
            },
            "Request Password" : {
              "displayName" : "Request Password",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Password",
              "sensitive" : true
            },
            "Socket Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Read Timeout",
              "sensitive" : false
            },
            "Socket Idle Connections" : {
              "displayName" : "Socket Idle Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Connections",
              "sensitive" : false
            },
            "Request Body Enabled" : {
              "displayName" : "Request Body Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Body Enabled",
              "sensitive" : false
            },
            "OAuth2 Access Token Refresh Strategy" : {
              "displayName" : "OAuth2 Access Token Refresh Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "OAuth2 Access Token Refresh Strategy",
              "sensitive" : false
            },
            "HTTP URL" : {
              "displayName" : "HTTP URL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP URL",
              "sensitive" : false
            },
            "Request OAuth2 Access Token Provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Request OAuth2 Access Token Provider",
              "sensitive" : false
            },
            "Socket Idle Timeout" : {
              "displayName" : "Socket Idle Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Timeout",
              "sensitive" : false
            },
            "Response Redirects Enabled" : {
              "displayName" : "Response Redirects Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Redirects Enabled",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Request Header Attributes Pattern" : {
              "displayName" : "Request Header Attributes Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Header Attributes Pattern",
              "sensitive" : false
            },
            "Response FlowFile Naming Strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response FlowFile Naming Strategy",
              "sensitive" : false
            },
            "Response Cache Enabled" : {
              "displayName" : "Response Cache Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Enabled",
              "sensitive" : false
            },
            "Request Date Header Enabled" : {
              "displayName" : "Request Date Header Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Date Header Enabled",
              "sensitive" : false
            },
            "Request Failure Penalization Enabled" : {
              "displayName" : "Request Failure Penalization Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Failure Penalization Enabled",
              "sensitive" : false
            },
            "Response Body Attribute Size" : {
              "displayName" : "Response Body Attribute Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Response Generation Required" : {
              "displayName" : "Response Generation Required",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Generation Required",
              "sensitive" : false
            },
            "Request User-Agent" : {
              "displayName" : "Request User-Agent",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request User-Agent",
              "sensitive" : false
            },
            "Response Header Request Attributes Enabled" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Enabled",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Request Username" : {
              "displayName" : "Request Username",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Username",
              "sensitive" : false
            },
            "Request Content-Type" : {
              "displayName" : "Request Content-Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Type",
              "sensitive" : false
            },
            "Response Body Attribute Name" : {
              "displayName" : "Response Body Attribute Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Name",
              "sensitive" : false
            },
            "Request Digest Authentication Enabled" : {
              "displayName" : "Request Digest Authentication Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Digest Authentication Enabled",
              "sensitive" : false
            },
            "Request Multipart Form-Data Name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Name",
              "sensitive" : false
            },
            "Response Cache Size" : {
              "displayName" : "Response Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Size",
              "sensitive" : false
            },
            "Response Body Ignored" : {
              "displayName" : "Response Body Ignored",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Ignored",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "662e496f-88bf-3a55-806c-93156e9b7c59",
          "instanceIdentifier" : "3ff84cf1-019c-1000-05f5-4d42952b7094",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 880.0,
            "y" : -192.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "open_interests" : "${count.replica:equals(0)}",
            "funding_rates" : "",
            "liquidations" : ""
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "open_interests" : {
              "displayName" : "open_interests",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "open_interests",
              "sensitive" : false
            },
            "funding_rates" : {
              "displayName" : "funding_rates",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "funding_rates",
              "sensitive" : false
            },
            "liquidations" : {
              "displayName" : "liquidations",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "liquidations",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jolt-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "289fc48b-dd0d-3afd-a0a6-0ca6f67be53c",
          "instanceIdentifier" : "3ff5da26-019c-1000-f700-7c3a262e57ed",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2720.0,
            "y" : 72.0
          },
          "properties" : {
            "JSON Source" : "FLOW_FILE",
            "Jolt Transform" : "jolt-transform-chain",
            "Max String Length" : "20 MB",
            "Transform Cache Size" : "1",
            "Pretty Print" : "false"
          },
          "propertyDescriptors" : {
            "JSON Source" : {
              "displayName" : "JSON Source",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "JSON Source",
              "sensitive" : false
            },
            "Jolt Transform" : {
              "displayName" : "Jolt Transform",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Jolt Transform",
              "sensitive" : false
            },
            "JSON Source Attribute" : {
              "displayName" : "JSON Source Attribute",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "JSON Source Attribute",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            },
            "Custom Transformation Class Name" : {
              "displayName" : "Custom Transformation Class Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Custom Transformation Class Name",
              "sensitive" : false
            },
            "Custom Module Directory" : {
              "displayName" : "Custom Module Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Custom Module Directory",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "Pretty Print" : {
              "displayName" : "Pretty Print",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Pretty Print",
              "sensitive" : false
            },
            "Jolt Specification" : {
              "displayName" : "Jolt Specification",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Jolt Specification",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE", "TEXT" ]
              },
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "3ffd6308-019c-1000-dfd3-8d7c4402b11a",
          "instanceIdentifier" : "d3e31312-b487-3475-0d3a-43015c93cb26",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2056.0,
            "y" : -192.0
          },
          "properties" : {
            "Request Content-Encoding" : "DISABLED",
            "Request Multipart Form-Data Filename Enabled" : "true",
            "Request Chunked Transfer-Encoding Enabled" : "false",
            "HTTP/2 Disabled" : "False",
            "Connection Timeout" : "5 secs",
            "Response Cookie Strategy" : "DISABLED",
            "Socket Read Timeout" : "15 secs",
            "Socket Idle Connections" : "5",
            "Request Body Enabled" : "true",
            "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
            "Socket Idle Timeout" : "5 mins",
            "Response Redirects Enabled" : "True",
            "Socket Write Timeout" : "15 secs",
            "Response FlowFile Naming Strategy" : "RANDOM",
            "Response Cache Enabled" : "false",
            "Request Date Header Enabled" : "True",
            "Request Failure Penalization Enabled" : "false",
            "Response Body Attribute Size" : "256",
            "Response Generation Required" : "false",
            "Response Header Request Attributes Enabled" : "false",
            "HTTP Method" : "GET",
            "Request Content-Type" : "${mime.type}",
            "Request Digest Authentication Enabled" : "false",
            "Response Cache Size" : "10MB",
            "Response Body Ignored" : "false"
          },
          "propertyDescriptors" : {
            "Request Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Encoding",
              "sensitive" : false
            },
            "Request Multipart Form-Data Filename Enabled" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Filename Enabled",
              "sensitive" : false
            },
            "Request Chunked Transfer-Encoding Enabled" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Chunked Transfer-Encoding Enabled",
              "sensitive" : false
            },
            "Response Header Request Attributes Prefix" : {
              "displayName" : "Response Header Request Attributes Prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Prefix",
              "sensitive" : false
            },
            "Proxy Configuration Service" : {
              "displayName" : "Proxy Configuration Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Proxy Configuration Service",
              "sensitive" : false
            },
            "HTTP/2 Disabled" : {
              "displayName" : "HTTP/2 Disabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP/2 Disabled",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "Response Cookie Strategy" : {
              "displayName" : "Response Cookie Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cookie Strategy",
              "sensitive" : false
            },
            "Request Password" : {
              "displayName" : "Request Password",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Password",
              "sensitive" : true
            },
            "Socket Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Read Timeout",
              "sensitive" : false
            },
            "Socket Idle Connections" : {
              "displayName" : "Socket Idle Connections",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Connections",
              "sensitive" : false
            },
            "Request Body Enabled" : {
              "displayName" : "Request Body Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Body Enabled",
              "sensitive" : false
            },
            "OAuth2 Access Token Refresh Strategy" : {
              "displayName" : "OAuth2 Access Token Refresh Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "OAuth2 Access Token Refresh Strategy",
              "sensitive" : false
            },
            "HTTP URL" : {
              "displayName" : "HTTP URL",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP URL",
              "sensitive" : false
            },
            "Request OAuth2 Access Token Provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Request OAuth2 Access Token Provider",
              "sensitive" : false
            },
            "Socket Idle Timeout" : {
              "displayName" : "Socket Idle Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Idle Timeout",
              "sensitive" : false
            },
            "Response Redirects Enabled" : {
              "displayName" : "Response Redirects Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Redirects Enabled",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Request Header Attributes Pattern" : {
              "displayName" : "Request Header Attributes Pattern",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Header Attributes Pattern",
              "sensitive" : false
            },
            "Response FlowFile Naming Strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response FlowFile Naming Strategy",
              "sensitive" : false
            },
            "Response Cache Enabled" : {
              "displayName" : "Response Cache Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Enabled",
              "sensitive" : false
            },
            "Request Date Header Enabled" : {
              "displayName" : "Request Date Header Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Date Header Enabled",
              "sensitive" : false
            },
            "Request Failure Penalization Enabled" : {
              "displayName" : "Request Failure Penalization Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Failure Penalization Enabled",
              "sensitive" : false
            },
            "Response Body Attribute Size" : {
              "displayName" : "Response Body Attribute Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Response Generation Required" : {
              "displayName" : "Response Generation Required",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Generation Required",
              "sensitive" : false
            },
            "Request User-Agent" : {
              "displayName" : "Request User-Agent",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request User-Agent",
              "sensitive" : false
            },
            "Response Header Request Attributes Enabled" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Enabled",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Request Username" : {
              "displayName" : "Request Username",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Username",
              "sensitive" : false
            },
            "Request Content-Type" : {
              "displayName" : "Request Content-Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Content-Type",
              "sensitive" : false
            },
            "Response Body Attribute Name" : {
              "displayName" : "Response Body Attribute Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Name",
              "sensitive" : false
            },
            "Request Digest Authentication Enabled" : {
              "displayName" : "Request Digest Authentication Enabled",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Digest Authentication Enabled",
              "sensitive" : false
            },
            "Request Multipart Form-Data Name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Name",
              "sensitive" : false
            },
            "Response Cache Size" : {
              "displayName" : "Response Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Cache Size",
              "sensitive" : false
            },
            "Response Body Ignored" : {
              "displayName" : "Response Body Ignored",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Response Body Ignored",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jolt-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "3ffd6307-019c-1000-12b7-187244c2e931",
          "instanceIdentifier" : "95254748-53e9-3b36-2888-cf1524d71160",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2736.0,
            "y" : -184.0
          },
          "properties" : {
            "JSON Source" : "FLOW_FILE",
            "Jolt Transform" : "jolt-transform-chain",
            "Max String Length" : "20 MB",
            "Transform Cache Size" : "1",
            "Pretty Print" : "false"
          },
          "propertyDescriptors" : {
            "JSON Source" : {
              "displayName" : "JSON Source",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "JSON Source",
              "sensitive" : false
            },
            "Jolt Transform" : {
              "displayName" : "Jolt Transform",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Jolt Transform",
              "sensitive" : false
            },
            "JSON Source Attribute" : {
              "displayName" : "JSON Source Attribute",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "JSON Source Attribute",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            },
            "Custom Transformation Class Name" : {
              "displayName" : "Custom Transformation Class Name",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Custom Transformation Class Name",
              "sensitive" : false
            },
            "Custom Module Directory" : {
              "displayName" : "Custom Module Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Custom Module Directory",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "Pretty Print" : {
              "displayName" : "Pretty Print",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Pretty Print",
              "sensitive" : false
            },
            "Jolt Specification" : {
              "displayName" : "Jolt Specification",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Jolt Specification",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE", "TEXT" ]
              },
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.7.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "c21aeffe-aa36-3476-976a-7ad2be442596",
          "identifier" : "7572925f-fd7b-3b4b-82e4-4ce3a40f8539",
          "instanceIdentifier" : "3ffc4070-019c-1000-48a3-d400aa5095a5",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3352.0,
            "y" : 64.0
          },
          "properties" : {
            "Replacement Value Strategy" : "literal-value"
          },
          "propertyDescriptors" : {
            "Record Writer" : {
              "displayName" : "Record Writer",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Record Reader" : {
              "displayName" : "Record Reader",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "Record Reader",
              "sensitive" : false
            },
            "Replacement Value Strategy" : {
              "displayName" : "Replacement Value Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Replacement Value Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}